@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
#hero-banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../src/assets/bg-2.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: -2;
  filter: brightness(-30);
  opacity: 0.9999;
}
#hero-banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(-57, 17, 23, 0.5);

  top: 0;
  right: 0;
  z-index: -1;
  filter: brightness(-30);
  opacity: 0.9999;
}

.bg-opacity-bottom {
  background-image: linear-gradient(
    180deg,
    rgba(4, 21, 45, 0),
    #070707 103.17%
  );
}
.linear-text-bg {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #ff9680, #fcac11);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-shadow {
  text-shadow: 2px 0 5px #070707;
}
.btn {
  position: relative;
}
.btn::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-image: linear-gradient(to right, #ff9680, #fcac11);
  bottom: 0;
  right: 0;
  transition-duration: 0.3s;
  /* z-index: -1; */
}
.btn::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-image: linear-gradient(to right, #ff9680, #fcac11);
  top: 0;
  left: 0;
  transition-duration: 0.3s;
}
.btn:hover::after,
.btn:hover::before {
  width: 100%;
}
.overflow-border {
  z-index: 1;
}
.overflow-border::after {
  content: "";
  position: absolute;
  border: 3px solid #fcac11;
  height: 107%;
  width: 370px;
  transform: rotate3d(10deg);
  top: -10px;
  z-index: -1;
  border-radius: 10px;
}
.heading {
  position: relative;
  padding-bottom: 10px;
}
.heading::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  background-color: #fcac11;
  border-radius: 50%;
}
.heading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 4px;
  left: 10px;
  background-color: #fcac11;
}
.tool-card {
  background: rgba(252, 172, 17, 0.87);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0px 0px 8px gray;

}
.tool-card img {
  aspect-ratio: 3 / 2;
}
.card {
  background: #1a1b1d;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  

}
.card:hover{
  box-shadow: 0px 0px 2px white,
  0px 0px 5px white;  
}

.package-card{
  border: 2px solid #1a1b1d;
  width: 350px;
  border-radius: 10px;
  /* height: f; */
  height: auto;
  position: relative;
  overflow: hidden;
}

.package-card::after{
  content: '';
  position: absolute;
  width: 130px;
  background-color: #fcac11;
  height: 164%;
  top: -10%;
  left: 30%;
  animation: rotate 12s linear infinite;
  transition: all 2s linear;

}

.package-card::before{
  content: '';
  position: absolute;
  background: #1a1b1d;
  ;
  inset: 5px;
  border-radius: 15px;
  z-index: 3;
}
.package-card>*{
  z-index: 10;
  position: relative;
  padding: 5px;

}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

